h1 {
  font-size: 55px;
}

h2 {
  font-size: 25px;
}

.temperature {
  font-size: 90px;
}

.units {
  position: relative;
}

h4 {
  text-align: center;
  font-size: 150px;
}

h6 {
  text-align: center;
  font-size: 60px;
}
